.blog-body
{
  margin: 0 auto;
  padding: 20px;
  max-width: 960px; 
}

.blog-container {
  background-color: #344648;
  margin: 0; 
  height: 100vh; 
  display: flex; 
  justify-content: center; 
  align-items: start; 
}

h1
{
  font-size: 50px;
  margin-bottom: 20px; 
  color: #B09A78;
}

.section 
{
  margin-top: 40px;
  color: #B09A78;
}

h2
{
  font-size: 1.8rem;
}

.list
{
  list-style: none;
  padding: 0;
}
