.blog-post {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.blog-title
{
   h1
   {
      font-size: 100px;
   }
   p
   {
      font-size: larger;
      margin-bottom: 75px;
   }
}

.blog-content
{
   p
   {
      font-size: 25px;
      line-height: 2.0;
   }
}
