.blog-body
{
  margin: 0 auto;
  padding: 20px;
  max-width: 960px; 
}

body
{
  background-color: #344648;
}

h1
{
  font-size: 75px;
  margin-bottom: 20px; 
  color: #B09A78;
}

.section 
{
  margin-top: 40px;
  color: #B09A78;
}

h2
{
  font-size: 1.8rem;
}

.list
{
  list-style: none;
  padding: 0;
}
