.card-rows {
  display: flex;
  flex-direction: row;
  gap: 75px;
  justify-content: center;
  opacity: 0;
}

.card-rows.visible {
  animation: slideInFromLeft 3s ease;
}

.card-rows.hidden {
   opacity: 0;
}

.card-container-title {
   text-align: center;
   font-size: 4rem;
   color: #B09A78;
   padding: 2rem;
   opacity: 0;
}

.card-container-title.visible {
   animation: slideInFromRight 3s ease;
   opacity: 1;
   margin: 0;
}

@keyframes slideInFromLeft {
   from {
      opacity: 0;
      transform: translateX(-100%);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes slideInFromRight {
   from {
      opacity: 0;
      transform: translateX(100%);
   }
   to {
      opacity: 1;
      transform: translateX(0);
   }
}

@keyframes fadeIn
{
   from 
   {
      opacity: 0;
      transform: translateY(-10px);
   }
  to 
   {
      opacity: 1;
      transform: translateY(0);
   }
}

@media (max-width: 768px) {
   .card-container-title {
      font-size: 2rem;
   }
   .card-rows {
      display: flex;
      flex-direction: column;
      gap: 75px;
      justify-content: center;
      opacity: 0;
   }

   .card-rows.visible {
      display: flex;
      align-items: center;
      animation: slideInFromLeft 3s ease;
   }

   .card-rows.hidden {
      opacity: 0;
   }
}
