@import url("../../styles/global.css");

.midContainer{
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: var(--primary-color);
}

.h1{
   align-self: center;
}