@import url("../../styles/global.css");

.bod 
{
   background-color: var(--primary-color);
}

.footer
{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center; 
}

.sticky{
   position: sticky;
   top: 0; 
   background-color: var(--primary-color);
   padding: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   z-index: 1000; 
}