.card {
  width: 18rem;
  border: 1px solid #5b5656;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; 
  padding: 1rem;
  background-color: #344648;
}

.card-link {
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 1.25rem;
  color: #B09A78;
  margin: 0 0 0.5rem;
}

.card-text {
  font-size: 1rem;
  color: #B09A78;
  margin-bottom: 1rem;
}

.card-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.card-button:hover {
  background-color: #a0a6ac;
}

@media (max-width: 768px) {

  .card-text {
    font-size: 15px;
    color: #B09A78;
    margin-bottom: 1rem;
  }
}
