@import url("../../styles/global.css");

.container-fluid
{
  background-color: var(--primary-color);
}

a.navbar-brand 
{
  font-size: 25px;
  color: #B09A78;
}

.navbar-nav 
{
  margin-left: auto; 
}

.navbar-nav .nav-link
{
  font-size: 25px;
  color: #B09A78;
  margin-right: 15px;
}