@import url("../../styles/global.css");

.top {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px; 
    margin-top: 100px;
    padding: 50px 0px; 
    gap: 480px;
}

.abt {
    color: var(--secondary-color);
}

.contact {
    color: var(--secondary-color);
}

.contact-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icons a{
    margin: 10px;
}

a {
    color: var(--secondary-color);
}

p {
    text-align: center;
}

.bot {
    color: var(--secondary-color); 
}

@media only screen and (max-width: 768px) {
    footer {
        padding: 50px 0; 
    }

    .top {
        flex-direction: column;
        margin-bottom: 20px; 
        margin-top: 80px;
        padding: 0;
        gap: 90px
    }

    .abt, .contact {
        flex: none;
        justify-content: center;
        width: 100%;
        margin-right: 0; 
    }
}
